@using SportsLibrary.Models;
@model SportsLibrary.ViewModels.RepoViewModel<Guid, Sport>

@{
    ViewData["Title"] = "Index";
    var keys = ViewData["Keys"] as ICollection<Guid> ?? throw new NullReferenceException(nameof(ViewData));
    var values = ViewData["Values"] as ICollection<ICollection<Sport>> ?? throw new NullReferenceException(nameof(ViewData));
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Category
            </th>
            <th>
                Name
            </th>
            <th>
                Teams
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var sports in values)
        {
            foreach(var sport in sports)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => sport.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => sport.Name)
                    </td>
                    <td>
                        @Html.ActionLink("View Teams", "ViewTeams", "SportRepo", new { sportname = sport.Name })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
