@model SportsLibrary.ViewModels.RepoViewModel<Type, object>

@{
    ViewData["Title"] = "Index";
    var keys = ViewData["Keys"] as ICollection<string> ?? throw new NullReferenceException(nameof(ViewData));
    var values = ViewData["Values"] as ICollection<ICollection<int>> ?? throw new NullReferenceException(nameof(ViewData));
}

<h1>Index</h1>

<div>
    <h4>TestRepo</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Key
                </th>
                <th>
                    Value
                </th>
            </tr>
        </thead>
        <tbody>
            @for(int i = 0; i < keys.Count(); i++)
            {
                var key = keys.ElementAt(i);
                var value = values.ElementAt(i);
                <tr>
                    <td>
                        @Html.DisplayFor(model => key)
                    </td>
                    <td>
                        @Html.DisplayFor(model => value)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
